.idea/
__pycache__/
*.py[cod]
dist/
*.egg-info/
build/
htmlcov/
.coverage*
pip-wheel-metadata/
.pytest_cache/
.mypy_cache/
site/
pdm.lock
.pdm-python
__pypackages__/
pdm.toml
.pdm-plugins/
.venv/
.vscode/
.cache/
*.ipynb
*.ipynb*
.DS_Store
.env
pyrightconfig.json
.ruff*
.jupyter/
*/*.csv
*/*/*/*/*.csv
